@font-face {
  font-family: Raleway;
  src:
    local('Raleway'),
    local('RalewayRegular'),
    local('raleway-regular'),
    url(./Raleway-Regular.woff2) format('woff2'),
    url(./Raleway-Regular.woff) format('woff');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  src:
    local('Raleway'),
    local('RalewayBold'),
    local('raleway-bold'),
    url(./Raleway-Bold.woff2) format('woff2'),
    url(./Raleway-Bold.woff) format('woff');
  font-weight: bold;
  font-display: swap;
}
